<h1>Available Swaps</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% @items.each do |item| %>
  <% if !item.is_used %>
	  <div class="entry">
		<%= image_tag(item.image) %>
		<div class="info">
			<h3><%= item.name %></h3>
			<h4><%= sanitize(item.description) %></h4>
		</div>
	  </div>
  <% end %>
<% end %>
