/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#pinched {
  margin: 10px auto;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}


body {
  background: image-url("background.jpg") no-repeat center fixed;
  color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}


 #banner {
  background-color: rgba(255,255,255,.1);
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #FFFFFF;
  text-align: center;

  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  /*background: #000066;*/
    
  #main {
    color: #FFFFFF;
	a:link {color: #FFFFFF; text-decoration: underline; }
	a:hover {color: #CCCCCC; text-decoration: underline; }
    margin-left: 17em;
    padding: 1em;
    border:groove;
    border-radius: 13px 13px 13px 13px;
    background-color: rgba(0,0,0,.33);
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background-color: rgba(72,72,181,0.5);
    border:groove;
    border-radius: 13px 13px 13px 13px;
    padding-right: 5px;
    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: #FFFFFF;/*#bfb;*/
          font-size: small;
        }
      }
    }
  }
}